.menu-container {
  position: relative;
  font-family: Arial, sans-serif;
}

.hamburger-button {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #944343;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 1100;
  width: 5%;
  height: 100%;
}

.hamburger-button:hover {
  background: #704444;
  transform: translateY(-50%) scale(1.05);
}

.hamburger-button.hidden {
  display: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: none;
  color: transparent;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transition: left 0.4s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.close-tab {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  padding: 0;
}

.close-tab:hover {
  transform: rotate(90deg);
  background-color: #3c4550;
}

.nav-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  background: linear-gradient(135deg, #858888, #946d6d, #3c4550);
  color: black;
  margin-bottom: 10px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  background: #c97572;
  transform: scale(1.05);
}

.to-go-out {
  background: #724746;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.to-go-out:hover {
  background: #c97572;
}
